.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.titles { 
  text-align: center;
}

.other_infos {
  text-align: center;
}

.other_infos .video {
  width: 50%;
  height: clamp(250px, 500px, 750px);
}